extends layout

block head
    script(type='text/javascript', src='/javascripts/src/controller/snippetlistcontroller.js')

block content
  div.container(ng-controller="SnippetListController", ng-init="setSnippets( #{JSON.stringify(snippets)} )")

    h1= title
    tabset
      tab(heading="Snippet List")
        div.row.content
          div.snippetlist
            div.snippet(ng-repeat="snippet in snippets")
              div.title {{snippet.title}}
              pre.code
                code {{snippet.code}}
      tab(heading="Add New Snippet")
        div.row.content
          form.addnew(novalidate, ng-submit="add()")
            div.row
              input.title(ng-model="newSnippet.title", type="text" placeholder="Title")
            div.row
              textarea.code(ng-model="newSnippet.code", placeholder="Snippet Code")
            div.row
              button.btn.btn-primary(type="submit") Add Snippet