doctype 5
html(ng-app="SnippetModule")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/libs/bootstrap-css/css/bootstrap.css')
    script(type='text/javascript', src='/javascripts/libs/angular/angular.js')
    script(type='text/javascript', src='/javascripts/libs/angular-bootstrap/ui-bootstrap-tpls.js')
    block head
  body
    block content
